@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* root var */
:root {
    --bg-color : #048cf4;
    --txt-color : #325872;
    --fr-color: #044c8c;
    --pr-color: #ffffff;
    --canva-cr: #00C4CC;
    --ppt-cr: #D24726;
}

/* style */
header {
    background: var(--bg-color);
    padding: 1rem 5% ;
}
/* header */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* tittle */
.tittle {
    font-size: 1.5rem;
    font-family: 'Kanit';
    font-weight: 500;
    font-style: italic;
    color:  var(--pr-color);
}
/* nav */
.navbar {
    display: flex;
    justify-content: center;
}
.navbar a {
    text-decoration: none;
    color: #b6c6c6;
    font-family: 'Open Sans';
    font-weight: 500;
}
.navbar a::after {
    content: '';
    display: block;
    padding-bottom: 3px;
    border-bottom: 2px solid #000000;
    transform: scale(0);
    transition: .3s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.navbar a:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
#right {
    margin-right: 7rem;
}
/* btn */
.header-btn {
    padding: .5rem 1rem;
    background-color: var(--pr-color);
    border-radius: 10px;
    transition: .3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.header-btn:hover {
    opacity: .8;
}
.header-btn a {
    text-decoration: none;
    color: var(--bg-color);
    font-family: 'Lato';
    font-weight: bolder;
    font-size: 1.2rem;
}

/* content header */
.header-content {
    display: flex;
    margin-top: 8rem;
}
/* txt */
.header-txt {
    width: 50%;
}
.header-txt h1 {
    font-family: 'Lato';
    font-size: 3rem;
    font-weight: 700;
    color: var(--pr-color);
}
#underline {
    border-bottom: 5px solid;
    border-radius: 2px;
    width: 70%;
    color: #b6c6c6;
    padding-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.header-txt h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Lato';
    color: rgba(255,255,255,0.7);
    font-size: 1.5rem;
    width: 50%;
    font-weight: 400;
    line-height: 1.8rem;
}
/* btn */
.content-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.content-btn .btn-1{
    border: 2px solid #b6c6c6;
    padding: .7rem 2rem;
    background-color: var(--pr-color);
    text-decoration: none;
    color: var(--bg-color);
    font-family: 'Lato';
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: .3s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.content-btn .btn-1:hover {
    opacity: .8;
}

#instagram {
    color: #ff00bf;
    width: 45px;
    height: 40px;
    background-color: var(--pr-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff00bf;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#instagram i {
    color: #ff00bf;
}
#mail {
    color: #ff00bf;
    width: 45px;
    height: 40px;
    background-color: var(--pr-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff00bf;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* hero header */
.header-hero img {
    width: 200%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* wave css */
.wave {
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../asset/wave.svg);
}

/* step by step */
main {
    margin: 6rem 5% 2rem;
}
/* header step*/
main .header {
    font-family: 'Lato';
    font-size: 2rem;
    color: var(--txt-color);
    font-weight: bold;
}
main #underline {
    width: 20%;
    margin: 0 auto;
    color: #044c8c;
    margin-bottom: -5px;
}

main .header h1 {
    width: 50%;
    text-align: center;
    margin: 0 auto 0;
}
span {
    font-style: italic;
    text-decoration: underline;
}

/* svg icon */
.step-icon {
    display: flex;
    align-items: center;
}
.step-icon .icon-2, .step-icon .icon-3 {
    margin-left: 6rem;
}
#icon-step {
    width: 18rem;
    height: 18rem;
}
#icon h1{
    text-align: center;
    color: #31363F;
    font-family: 'Lato';
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 5px 0 5px;
}
#icon h2 {
    text-align: center;
    margin: 0 auto;
    color: var(--txt-color);
    font-family: 'Open Sans';
    font-size: .9rem;
    width: 80%;
    line-height: 1.2rem;
    font-weight: 380;
}

/* profuct */
section {
    margin: 6rem 5% 2rem;
}
/* container */
section .container-1 {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 8rem;
}
/* content txt */
.container-1 .content h1 {
    font-size: 2rem;
    font-family: 'Lato';
    font-weight: bold;
    color: #31363F;
    margin: 2rem 1rem .5rem ;
}
.container-1 .content h2 {
    font-size: 1.1rem;
    font-family: 'Open Sans';
    margin: 0 1rem 0;
    font-weight: 350;
    color: #325872;
    line-height: 1.5rem;
}
.container-1 .content a {
    display: block;
    margin: 2rem 1rem 0;
    padding: 1rem 0 ;
    width: 30%;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Lato';
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--pr-color);
    text-align: center;
    border-radius: 5px;
    transition: .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.container-1 .content a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* svg content-2 */
#undraw {
    width: 589px;
}








/* responsive breakpoint */
/* Handphone */
@media screen and (max-width:630px) {
    html{
        font-size: 75%;
    }
    /* navbar */
    .navbar {
        display: none;
    }

    /* content header */
    .header-content {
        flex-wrap: wrap;
    }

    /* content header text */
    .header-txt {
        min-width: 100%;
        text-align: center;
    }
    .header-txt h2 {
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .header-txt div {
        margin: auto;
    }
    /* header hero */
    .header-hero {
        min-width: 80%;
        text-align: center;
        margin: 3rem auto 2rem;
        border: 1px solid;
    }
    .header-content .header-hero img {
        width: 100%;
    }
    
    /* btn */
    .content-btn {
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
    }
    

    /* wave svg */
    #wave {
        display: none;
    }

    /* step by step */
    main .header h1 {
        width: 100%;
    }
    main .header #underline {
        width: 70%;
    }

    /* svg icon */
    .step-icon {
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    #icon {
        margin: auto;
        text-align: center;
    }
}
/* tablet */
@media screen and (min-width:631px) {
    /* navbar */
    #right {
        margin-right: 3rem;
    } 
    .header-content {
        flex-wrap: wrap;
    }

    /* content header text */
    .header-txt {
        min-width: 100%;
        text-align: center;
    }
    .header-txt h2 {
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .header-txt div {
        margin: auto;
    }
    /* header hero */
    .header-content .header-hero {
        margin-left: 4rem;
    }
    .header-content .header-hero img {
        width: 200%;
        margin: 5rem auto 5rem;
    }
    
    /* btn */
    .content-btn {
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
    }

     /* step by step */
     main .header h1 {
        width: 70%;
    }
    main .header #underline {
        width: 70%;
    }

    /* svg icon */
    .step-icon {
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    #icon {
        margin: auto;
        text-align: center;
        width: 50%;
    }



}
/* desktop */
@media screen and (min-width:992px) {
    html {
        font-size: 100%;
    }
    /* navbar */
    #right {
        margin-right: 7rem;
    }
    
    .header-content {
        flex-wrap: nowrap;
    }
    .header-txt {
        min-width: 50%;
        text-align: left;
    }
    .header-txt h2 {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .header-txt div {
        margin: 0;
    }
    /* header hero */
    .header-content .header-hero {
        margin: 0;
    }
    .header-content .header-hero img {
        width: 190%;
        margin: 0 ;
    }
    
    /* btn */
    .content-btn {
        flex-wrap: nowrap;
        min-width: 56%;
    }

    svg {
        display: block;
    }

     /* step by step */
     main .header h1 {
        width: 50%;
    }
    main .header #underline {
        width: 20%;
    }

    /* svg icon */
    .step-icon {
        flex-wrap: nowrap;
    }
    #icon {
        margin: auto;
        text-align: center;
        width: 100%;
    }
}